pyrogram
tgcrypto
pytz
git+https://github.com/yt-dlp/yt-dlp.git
youtube-search
youtube-search-python
motor==3.0.0
dnspython==2.3.0
aiosqlite<0.18.0,>=0.16.0
pyaes==1.6.1
pysocks==1.7.1
pytgcalls==3.0.0.dev24
pytz
tgcrypto
GitPython
pytube
py-extract
pykeyboard
bs4 
Pillow==8.3.2
emoji==1.6.0
pymediainfo
requests 
pyromod==1.1.0
unidecode
attrify
ffmpeg-python
humanize
html2text
removebg
aiofiles
aiohttp
gpytranslate
gtts
wget
telegraph
heroku3
openai
APScheduler
psutil
httpx[http2]
uwuify 
gunicorn
python-dotenv
uvloop
httpx
